frontend/.angular/
frontend/node_modules
frontend/dist

# Maven compilation directory
**/target/
# GPX files
gpxprocessor/activities*
# Directory containing GPX files
gpxprocessor/gpxfiles
# Directory containing GPX files
backend/gpxfiles

# Database directory
db_data

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
