frontend/.angular/
frontend/node_modules
frontend/dist

**/target/
gpxprocessor/activities*
backend/upload-dir/

dist
db_data

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
**/*.code-workspace
.vscode
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
