.list-container {
    width: 1070px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.list-container > * {
    display: inline-block;
}

.list-navigator {
    width: 100px;
    text-align: center;
    background-color: aquamarine;
}

.run {
    width: 150px;
    height: 80px;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}

.selected {
    background-color: azure;
}