<div class="list-container">
    <button class="list-navigator" (click)="showPreviousRun()">Previous ({{previousRunNb}})</button>
    <div *ngFor="let run of runs | slice:showStartIndex:showEndIndex" (click)="onClickSelectRunId(run.id, run.date)"
        class="run" [ngClass]="{'selected': selectedRunId === run.id}">
        <div>{{run.date}}</div>
        <div>{{run.formatDistance()}}</div>
        <div>{{run.formatTime()}}</div>
        <div>{{run.formatPace()}}</div>
    </div>
    <button class="list-navigator" (click)="showNextRun()">Next ({{nextRunNb}})</button>
</div>
<app-run-stats></app-run-stats>