<div class="list-container">
    <button class="list-navigator" (click)="showPreviousRun()">Previous ({{previousRunNb}})</button>
    <div *ngFor="let run of runs | slice:showStartIndex:showEndIndex" class="run" (click)="setSelectedRunId(run.id, run.date)">
        <div>{{run.date}}</div>
        <div>{{run.formatDistance()}}</div>
        <div>{{run.formatTime()}}</div>
        <div>{{run.formatPace()}}</div>
    </div>
    <button class="list-navigator" (click)="showNextRun()">Next ({{nextRunNb}})</button>
</div>
<app-run-stats *ngIf="selectedRunId > 0" runId={{selectedRunId}} runDate="{{selectedRunDate}}"></app-run-stats>